@model compents.Models.News
@{
    ViewBag.Title = "Create";
}

<div class="card" style="width:60%; margin:auto;">
    <div class="card-header bg-dark text-white">
        <h5>Create New</h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.title)
                        @Html.TextBoxFor(m => m.title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.title)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.content)
                        @Html.TextBoxFor(m => m.content, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.content)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.photo)
                        @Html.TextBoxFor(m => m.photo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.photo)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.publichdate)
                        @Html.TextBoxFor(m => m.publichdate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.publichdate)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.sources)
                        @Html.TextBoxFor(m => m.sources, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.sources)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.categories)
                        @Html.TextBoxFor(m => m.categories, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.categories)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
    </div>
</div> 